*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
}

body{
    background: url(img/library.jpg) center center/ cover;
    height: 100vh;
    position: relative;
}

#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 300px;
    height: 80px;
    font-size: 1.5rem;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: 0.5s;
}
#open-btn:hover{
    color: black;
    background-color: white;
}
p {
    margin: 0;
}

#modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 75px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    animation: animatemodal 1s;
}
@keyframes animatemodal{
    from{
        top: -300px;
        opacity: 0;

    }
    to{
        top: 50%;
        opacity: 1;
    }
}


#close-btn{
    font-size: 2rem;
}
#close-btn:hover{
    color: red;
    cursor: pointer;
    font-size: 2.5rem;
}
#modal-container{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}