body{
    background: url(img/faq.jpg) center center/ cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.accordion{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    width: 65%;

}
.accordion-title{
    margin-bottom: 30px;
}

.question{
    font-size: 22px;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
}
.question::after{
    content: '+';
    position: absolute;
    right: 5px;

}
.answer{
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    max-height: 0px;
    transition: .5s;
    overflow: hidden;
    
}
.active .answer{
    max-height: 150px;

}
.active .question::after{
    content: '-';
    font-size: 30px;
    transition: .5s;
}
.active .question{
    font-size: 18px;
    transition: .5s;
}