body{
    background: url(img/pool.jpg) center center/ cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    width: 350px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 5px;
}

input{
    flex: 5;
    padding: 10px;
    border: solid 1px green;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1.2rem;

}
#add-task{
    background-color: white;
    color: green;
    flex: 1;
    border: 1px green solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    transition: .3s;

}
#add-task:hover{
    background-color: green;
    color: #fff;
}
.task{
    width: 100%;
    box-shadow: 0 0 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;

}
.task li{
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    list-style: none ;
    margin: 10px;
}
.task button{
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
}
.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}
.task .checkTask:hover{
    background-color: orange;
    color:#fff;
}
.task .deleteTask{
    color: red;
    margin-right: 5px;
    border: solid 2px red;
    font-size: 1.5rem;
}
.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}
