*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
}

#app{
    position: relative;
    width: 414px;
    height: 420px;
    display: block;
    margin:20px auto;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
    border-radius: 45px;
    background-image: linear-gradient(325deg, rgb(32, 32, 255), rgb(95, 95, 255),rgb(178, 185, 255)) ;
}
#searchBar{
    display: flex;
    padding: 0 40px;
    margin-bottom: 30px;
}

#searchBarInput{
    background-color: none;
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    color: white;
    border-bottom: solid 1px lightblue;

}
#searchBarInput::placeholder{
    color: white;
    opacity: 0.6;
}

#searchIcon{
    border: none;
    background: transparent;
    color: white;
    font-size: 1.2rem;
}
#extraInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 5px;
    color: white;
    padding-bottom: 30px;

}
#extraInfo h5{
    font-size: 1.1rem;
    text-transform: uppercase;
}

#info{
    line-height: 0.5rem;
    color: white;

}

#info h3{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5em;

}
#description{
    text-transform: uppercase;
    color: white;
}

#temp{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}