*{
    font-family: "Lato", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(img/library.jpg) center center/ cover;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
}

.header{
    color: white;
    background-color: darkgray;
    border: 2px solid white;
    margin-bottom: 20px;
    font-size: 18px;
}
.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}
.btn-area button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: darkgray;
    border: 2px solid;
    border-radius: 10px;
}
.btn-area button:active{
    background-color: black;
    color: darkgray;
}
.person{
    color: red;
}
